/* You can add global styles to this file, and also import other style files */

/* Import Bootstrap SCSS */
@use 'bootstrap/scss/bootstrap';

/* Hide native scrollbar while keeping scroll functionality */
html {
  /* Firefox */
  scrollbar-width: none;
}

body {
  /* WebKit browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
  
  /* For Internet Explorer and Edge legacy */
  -ms-overflow-style: none;

  font-family: 'Times New Roman', Times, serif;
  background-color: #F1F1F1;
}

html, body {
  overflow-x: hidden;
}